<section id="contact" class="block-padding">
    <div style="margin-bottom: 4rem;" class="section-header">
        <div class="violet-stick"></div>
        <h2 class="font90">
            @if (translateService.language === 'en') {
                Contact
            } 
            @else if (translateService.language === 'de') {
                Kontakt
            }
        </h2>
    </div>
    <div class="contact-form-frame padding-inline">
        <div class="contact-info-contain column w50">
            <h3 class="font32 padding-bottom-1rem">
                @if (translateService.language === 'en') {
                    Got a problem to solve?
                } 
                @else if (translateService.language === 'de') {
                    Gibt es ein Problem zu lösen?
                }
            </h3>
            <p class="margin-bottom font16">
                @if (translateService.language === 'en') {
                    Contact me through this form, I am interested in hearing from you, knowing
                your
                ideas and contributing to your projects with my work.
                } 
                @else if (translateService.language === 'de') {
                    Kontaktiere mich über dieses Formular - ich freue mich darauf, von dir zu hören, deine Ideen kennenzulernen und mit meiner Arbeit zu deinen Projekten beizutragen.
                }
            </p>
            <p>
                @if (translateService.language === 'en') {
                    Need a Frontend developer? 
                } 
                @else if (translateService.language === 'de') {
                    Brauchst du einen Frontend Entwickler?
                }
                <b>
                    @if (translateService.language === 'en') {
                        Contact me!
                    } 
                    @else if (translateService.language === 'de') {
                        Kontakiere mich!
                    }
                </b>
            </p>

        </div>

        <form (ngSubmit)="submitData(contactForm)" #contactForm="ngForm" autocomplete="off" action="#"
            class="contact-input-contain w50 column">
            @if(submitted === false
            ) {
                <!-- name input -->
                <div style="gap: 0.5rem;" class="w100 input-container column">
                    <input 
                        ngModel 
                        #name="ngModel" 
                        autocomplete="off" 
                        class="w100 input-field" 
                        name="name" 
                        type="text"
                        required minlength="3" 
                        placeholder="Your name" 
                        pattern="^(?!.*\s{2,}).*$"
                        (keydown)="checkIfInputIsValid('name')"
                    >

                 @if(name.invalid && name.touched || submitBtnWasClickedWithEmptyValuesForName){
                        <p required class="animation-valdiationMessage" style="color: red;"> 
                            @if (translateService.language === 'en') {
                                Enter your name. Make sure that there are no two spaces next to each other.
                            } 
                            @else if (translateService.language === 'de') {
                                Gebe deinen Namen ein. Zwei aufeinanderfolgende Leerzeichen sind nicht erlaubt.
                            } 
                        </p>
                    }
                </div>

                <!-- email input -->
                <div style="gap: 0.5rem;" class="w100 input-container column">
                    <input 
                        ngModel 
                        #email="ngModel" 
                        autocomplete="off" 
                        class="w100 input-field" 
                        name="email" 
                        type="email"
                        required minlength="5" 
                        placeholder="Your email" 
                        pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[a-zA-Z]{2,}"
                        (keydown)="checkIfInputIsValid('email')"
                    >

                    @if(email.invalid && email.touched || submitBtnWasClickedWithEmptyValuesForEmail){
                        <p class="animation-valdiationMessage" style="color: red;"> 
                            @if (translateService.language === 'en') {
                                Enter your correct email address.
                            } 
                            @else if (translateService.language === 'de') {
                                Gebe deine korrekte Email-Adresse an.
                            } 
                        </p>
                    }
                </div>

                <textarea 
                    ngModel 
                    #message="ngModel" 
                    autocomplete="off" 
                    class="w100 input-field" 
                    name="message"
                    placeholder="Your message">
                </textarea>

                <!-- checkbox -->
                <div style="gap: 0.5rem;" class="w100 input-container column">
                    <div class="checkbox-wrap gap-05">
                        <label for="checkbox" class="custom-checkbox">
                            <input (click)="checkIfInputIsValid('checkbox')" ngModel #checkbox="ngModel" id="checkbox" name="checkbox" type="checkbox" required>

                            <div class="checkbox">
                                <div class="checkobox-icon-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="#70E61C"
                                        class="bi bi-check checkbox-icon" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                    </svg>
                                </div>
                            </div>
                        </label>
                        <p class="font14">
                            @if (translateService.language === 'en') {
                                I've read the 
                            } 
                            @else if (translateService.language === 'de') {
                                Ich habe die 
                            } 
                            <a (click)="routeToImprint()" class="color-purple impressum_link">
                                @if (translateService.language === 'en') {
                                    privacy policy 
                                } 
                                @else if (translateService.language === 'de') {
                                    Datenschutzerklärung  
                                } 
                            </a> 
                            @if (translateService.language === 'en') {
                                and agree to the
                                processing of my data as outlined. 
                            } 
                            @else if (translateService.language === 'de') {
                                gelesen und aktzeptiere sie.
                            } 
                        </p>
                    </div>

                    @if(checkbox.invalid && checkbox.touched || submitBtnWasClickedWithEmptyValuesForCheckbox){
                        <p class="animation-valdiationMessage" style="color: red;"> 
                            @if (translateService.language === 'en') {
                                Read the privacy policy and accept it to be able to submit the form.
                            } 
                            @else if (translateService.language === 'de') {
                                Lies die Datenschutzerklärung und akzeptiere sie, um das Formular absenden zu können. 
                            }  
                        </p>
                    }
                </div>

                <div class="d-flex w100 padding-top-1rem">
                    <button class="button_primary font23" type="submit">
                        @if (translateService.language === 'en') {
                            Send message :)
                        } 
                        @else if (translateService.language === 'de') {
                            Nachricht senden :)
                        } 
                    </button>
                </div>
            }
            @else {
                <div class="font23 success-message w100 column">
                    <div class="d-flex column">
                        <span class="color-green">
                            @if (translateService.language === 'en') {
                                Thank you for reaching out!
                            } 
                            @else if (translateService.language === 'de') {
                                Danke für deine Nachricht!
                            } 
                        </span> 
                        <span class="color-purple">
                            @if (translateService.language === 'en') {
                                I'll get back to you as soon as possible.
                            } 
                            @else if (translateService.language === 'de') {
                                Ich melde mich so schnell wie möglich bei dir.
                            } 
                        </span>
                    </div>
                </div>
            }
        </form>
    </div>
    <div class="w100 padding-inline d-flex" style="justify-content: end; padding-top: 5rem;">
        <div (click)="scrollToTop()" class="scrollTopBtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
            </svg>
        </div>
    </div>
</section>