<section id="contact" class="block-padding">
    <div style="margin-bottom: 4rem;" class="section-header">
        <div class="violet-stick"></div>
        <h2 class="font90">Contact</h2>
    </div>
    <div class="contact-form-frame padding-inline">
        <div class="contact-info-contain column w50">
            <h3 class="font32 padding-bottom-1rem">Got a problem to solve?</h3>
            <p class="margin-bottom font16">Contact me through this form, I am interested in hearing from you, knowing
                your
                ideas and contributing to your projects with my work.</p>
            <p>Need a Frontend developer? <b>Contact me!</b></p>

        </div>

        <form (ngSubmit)="submitData(contactForm)" #contactForm="ngForm" autocomplete="off" action="#"
            class="contact-input-contain w50 column">
            @if(submitted === false
            ) {
                <!-- name input -->
                <div style="gap: 0.5rem;" class="w100 input-container column">
                    <input 
                        ngModel 
                        #name="ngModel" 
                        autocomplete="off" 
                        class="w100 input-field" 
                        name="name" 
                        type="text"
                        required minlength="3" 
                        placeholder="Your name" 
                        pattern="^(?!.*\s{2,}).*$"
                        (keydown)="checkIfInputIsValid('name')"
                    >

                 @if(name.invalid && name.touched || submitBtnWasClickedWithEmptyValuesForName){
                        <p required class="animation-valdiationMessage" style="color: red;"> Enter your name. Make sure that there are no two spaces next to each other. </p>
                    }
                </div>

                <!-- email input -->
                <div style="gap: 0.5rem;" class="w100 input-container column">
                    <input 
                        ngModel 
                        #email="ngModel" 
                        autocomplete="off" 
                        class="w100 input-field" 
                        name="email" 
                        type="email"
                        required minlength="5" 
                        placeholder="Your email" 
                        pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[a-zA-Z]{2,}"
                        (keydown)="checkIfInputIsValid('email')"
                    >

                    @if(email.invalid && email.touched || submitBtnWasClickedWithEmptyValuesForEmail){
                        <p class="animation-valdiationMessage" style="color: red;"> Enter your correct email address. </p>
                    }
                </div>

                <textarea 
                    ngModel 
                    #message="ngModel" 
                    autocomplete="off" 
                    class="w100 input-field" 
                    name="message"
                    placeholder="Your message">
                </textarea>

                <!-- checkbox -->
                <div style="gap: 0.5rem;" class="w100 input-container column">
                    <div class="checkbox-wrap gap-05">
                        <label for="checkbox" class="custom-checkbox">
                            <input (click)="checkIfInputIsValid('checkbox')" ngModel #checkbox="ngModel" id="checkbox" name="checkbox" type="checkbox" required>

                            <div class="checkbox">
                                <div class="checkobox-icon-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="#70E61C"
                                        class="bi bi-check checkbox-icon" viewBox="0 0 16 16">
                                        <path
                                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                    </svg>
                                </div>
                            </div>
                        </label>
                        <p class="font14">I've read the <a (click)="routeToImprint()" class="color-purple impressum_link">privacy policy</a> 
                            and agree to the
                            processing of my data as outlined.
                        </p>
                    </div>

                    @if(checkbox.invalid && checkbox.touched || submitBtnWasClickedWithEmptyValuesForCheckbox){
                        <p class="animation-valdiationMessage" style="color: red;"> 
                            Read the privacy policy and accept it to be able to submit the form. 
                        </p>
                    }
                </div>

                <div class="d-flex w100 padding-top-1rem">
                    <button class="button_primary font23" type="submit">Send message :)</button>
                </div>
            }
            @else {
                <div class="font23 success-message w100 column">
                    <div class="d-flex column">
                        <span class="color-green">
                            Thank you for reaching out!
                        </span> 
                        <span class="color-purple">
                            I'll get back to you as soon as possible.
                        </span>
                    </div>
                </div>
            }
        </form>
    </div>
    <div class="w100 padding-inline d-flex" style="justify-content: end; padding-top: 5rem;">
        <div (click)="scrollToTop()" class="scrollTopBtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
            </svg>
        </div>
    </div>
</section>