<section id="contact" class="block-padding">
    <div class="section-header">
        <div class="violet-stick"></div>
        <h2 class="font90">Contact</h2>
    </div>
    <div class="contact-form-frame padding-inline">
        <div class="contact-info-contain column w50" style="border: solid 1px blue;">
            <h2 class="font32">Got a problem to solve?</h2>
            <p class="margin-bottom font16">Contact me through this form, I am interested in hearing from you, knowing
                your
                ideas and contributing to your projects with my work.</p>
            <p>Need a Frontend developer? <b>Contact me!</b></p>

        </div>

        <form action="#" class="contact-input-contain w50 column">
            <input class="w100 input-field" name="name" type="text" required minlength="1" placeholder="Your name"
                pattern="[a-zA-Z\s]+">
            <input class="w100 input-field" name="email" type="email" required minlength="5" placeholder="Your email"
                pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
            <textarea class="w100 input-field" name="message" placeholder="Your message"></textarea>
        </form>

    </div>
</section>