<section id="about-me" class="site-padding">
    <div class="about-me_frame width">
        <div class="title_frame">
            <h2 class="title padding-bottom-1rem">About me</h2>
            <p class="description">
                {{intro}}
            </p>
        </div>
        <div class="d-flex about-me_div">
            <img src="assets/imgs/icons/gluehbirne.svg" alt="">
            <p class="description">
                {{introExp}}
            </p>
        </div>
        <div class="d-flex about-me_div">
            <img src="assets/imgs/icons/puzzle.svg" alt="">
            <p class="description">
                {{introFuture}}
            </p>
        </div>
    </div>
    <div class="picture_frame width" [ngClass]="{'d-none': windowWidth < 1200}">
        <img src="assets/imgs/andre_klein.png" alt="profile-picture">
        <div class="green-stick"></div>
    </div>
    <img class="vektor" src="assets/bg-graphics/purple-shadow-huge-signle-1.svg" alt="">
</section>