<section class="padding-inline">
    <nav class="nav-links-frame">
        <img class="logo" src="assets/imgs/solarhub-logo-klein.png" alt="">
        <div class="nav-links">
            <a>About me</a>
            <a>Skills</a>
            <a>Portfolio</a>
        </div>
        <img class="burger-menu" src="assets/imgs/icons/burger-menu.png" alt="" (click)="toggleMobileNav()">
        <div #mobileMenu class="mobile-nav-links-frame d-none"  #mobileNavLinks>
            <div>
                <a>About me</a>
                <a>Skills</a>
                <a>Portfolio</a>
            </div>
        </div>
    </nav>
</section>
