<section id="portfolio" class="site-padding pos-rel">
    <img class="vector_1" src="assets/bg-graphics/blue-shadow-small-signle.svg" alt="">
    <img class="vector_2" src="assets/bg-graphics/blue-shadow-small-signle.svg" alt="">
    <img class="vector_3" src="assets/bg-graphics/blue-shadow-small-signle.svg" alt="">
    <div data-aos="zoom-in" data-aos-offset="250"  class="d-flex" style="gap: 2rem; flex-direction: column;">
        <div class="w100 portfolio-header-wrap">
            <div class="w33 d-flex-x-end">
                <div class="stroke1"></div>
            </div>
                <h2 class="w33 d-flex title font90">Portfolio</h2>
                <div class="stroke2 w33"></div>
        </div>
        <div class="w100 d-flex"><p class="description">Explore a selection of my work here - Interact with projects to see my skills in action.</p></div>
    </div>
    <div class="projects-wrap w100">
        @for (project of projects; track project; let i = $index) {
            <app-project-component class="w100" [parentIndex]="i" [projectInfo]="projects[i]"></app-project-component>
        }
    </div>
</section>