@import './../../../styles.scss';

.main-content {
    @include d-flex();
    flex-direction: column;
    border-radius: 3.125rem;
}

.description {
    font-family: 'Poppins';
    font-weight: normal;
}

@media (min-width: 1500px) {
    .main-content {
        border: 10px solid rgba(255,255,255,0.2);
    }
}

