<section id="impressum" class="main-content max-width section-wrap w100">
    <div class="site-padding impressum_contain w100">
        <div class="impressum_content">
            <h1 class="impressum_title font32">
                Imprint
            </h1>

            <div class="impressum_item_contain">
                <h2 class="font23 impressum_sub-title">
                    Name & Address
                </h2>

                <p class="font16">
                    Andre Karyoti
                </p>

                <p class="font16">
                    Klausfeld 4
                </p>

                <p class="font16">
                    6037 Root
                </p>

                <p class="font16">
                    Switzerland
                </p>
            </div>

            <div class="impressum_item_contain">
                <h2 class="font23 impressum_sub-title">
                    Contact options
                </h2>

                <a href="andre.karyoti@outlook.de" class="font16 impressum_link">
                    andre.karyoti&#64;outlook.de
                </a>

                <a href="tel: 078 693 90 55" class="font16 impressum_link">
                    078 693 90 55
                </a>
            </div>

            <div class="impressum_item_contain">
                <h2 class="font23 impressum_sub-title">
                    Responsible for the content
                </h2>

                <p class="font16">
                    Andre Karyoti
                </p>
            </div>

            <div class="impressum_item_contain">
                <h2 class="font23 impressum_sub-title">
                    Disclaimer
                </h2>

                <p class="font16">
                    The contents of this website have been created with the greatest possible care. 
                    <br>
                    Use of the website and its contents is at your own risk.  
                    <br>
                    <br>
                    I assume no liability for material or immaterial damages resulting from access to, use or non-use of the published information, or from misuse of the connection.
                    <br>
                    This website may contain links to external third-party websites, over whose content I have no control. 
                    <br>
                    The respective provider or operator is solely responsible for the content of the linked pages. At the time of linking, these were checked for possible legal violations.
                    <br>
                    However, continuous content monitoring of the linked pages is not reasonable without specific indications of a legal violation.  
                </p>
            </div>

            <div class="impressum_item_contain">
                <h2 class="font23 impressum_sub-title">
                    Copyright
                </h2>
                
                <p class="font16">
                    The content, texts, images, and works published on this website are subject to Swiss copyright law.  
                    <br>
                    Reproduction, modification, distribution, or any form of use beyond the limits of copyright law requires prior written permission from the respective author or creator.  
                    <br>
                    <br>
                    Downloads and copies of this website are only permitted for private, non-commercial use.  
                    <br>
                    If any content on this site was not created by me, the copyrights of third parties are respected.  
                    <br>
                    If you nevertheless become aware of a copyright infringement, please provide a corresponding notice so that the affected content can be removed immediately.  
                </p>
            </div>
        </div>
    </div>
    <app-footer class="w100"></app-footer>
</section>
