@import "./../../../styles.scss";

section {
    @include d-flex($ai:start);
    width: 100%;
    gap: 2.5rem;
}   

.skills_layout {
    width: 65%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1.5rem;
}

.skill-img {
    width: 6rem;
    height: 6rem;
    grid-column: span 1;
    margin: 0 auto;
}

.skills_sub-container {
    flex-grow: 1;
    height: 100%;
    @include d-flex($jc:start, $ai:end);
    flex-direction: column;
    gap: 2rem;
}  

.title_frame {
    gap: 2.625rem;
}

.title_stroke {
    height: 3px;
    background-color: $purple;
    width: 5rem;
    margin-right: calc(var(--sitePadding) - var(--sitePadding) * 2);
}

.skill_img_container {
    padding: 2rem 0;
    position: relative;
    @include d-flex();
}

@media (max-width:1200px) {
    .skill-img {
        width: 5.5rem;
        height: 5.5rem;
    }
}

@media (max-width:1100px) {
    .skills_layout {
        width: auto;
    }
}

@media (max-width:991px) {
    section {
        flex-direction: column;
        @include d-flex($jc: start);
    }

    .skill-img {
        width: 5rem;
        height: 5rem;
    }

    .skills_layout {
        width: 100%;
        order: 1;
    }
}

@media (max-width:480px) {
    .skills_layout {
        grid-template-columns: auto auto auto;
        grid-gap: 0.5rem;
    }

    .title_frame {
        gap: 0.5rem;
    }

    .title_stroke {
        width: 4rem;
    }
}
