<section data-aos="zoom-in" data-aos-offset="250" id="my-skills" class="site-padding">
    <div #skillsLayout class="skills_layout">
        @for (path of iconPaths; track $index) {
            <div class="skill_img_container">
                <img class="skill-img" src="{{path}}" alt="skill icon">
            </div>
        }
        <div class="w100 d-none" style="margin-inline: auto;">
            <a href="#contact" class="button_primary">
                Get in touch
            </a>
        </div>
    </div>
    
    <div class="skills_sub-container d-flex text-align-right">
        <div class="d-flex title_frame">
            <h2 class="title font90">My Skills</h2>  
            <div class="title_stroke"></div>
        </div>

        <div>
            <p class="description">
                I have gained experience in building projects with various front end technologies and concepts.
            </p>
        </div>

        <div class="w100" style="margin-inline: auto;">
            <a href="#contact" class="button_primary">
                Get in touch
            </a>
        </div>
        
    </div>
</section>
