$purple: #c6538c;
$green: #70E61C;
$violet: #9747FF;

:root {
  --sitePadding: 5rem;
  --sectionPadding: 5rem;

  --font-90: 5.625rem;
  --line-90: 5.925rem;
  --font-64: 4rem;
  --line-64: 4.3rem;
  --font-58: 3.625rem;
  --line-58: 3.925rem;
  --font-32: 2rem;
  --line-32: 2.3rem;
  --font-23: 1.438rem;
  --line-23: 1.738rem;
  --font-16: 1rem;
  --line-16: 1.3rem;
  --font-14: 0.875rem;
  --line-14: 1.175rem;

  //used for vectors in screenshots-wrap component
  --vectorResidue: -35rem;
}

html {
  scroll-behavior: smooth;
}

*:not(svg, path),
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  color: white;
  font-family: 'Poppins';
  text-decoration: none;
}

body {
  background-color: #141D2F;
  min-height: 100vh;
}

@mixin site-padding($site: 5rem) {
  padding: 0 $site;
}

@mixin d-flex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin pos-absolute($top: auto, $bottom: auto, $left: auto, $right: auto) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

.router-outlet-contain {
  width: 100%;

  & > *:not(router-outlet) {
    width: 100%;
    flex-direction: column;
    @include d-flex($ai:center, $jc: start);
    min-height: 100vh;
  }
}

app-root {
  min-height: 100vh;
}

.text-align-right {
  text-align: right;
}

.w100 {
  width: 100%;
}

.d-none {
  display: none !important;
}

.column {
flex-direction: column;
}

.site-padding {
  padding: var(--sectionPadding) var(--sitePadding);
}

.block-padding {
  padding: var(--sectionPadding) 0;
}

.padding-inline {
  padding: 0 var(--sitePadding);
}

.padding-top-1rem {
  padding-top: 1rem;
}

.padding-bottom-1rem {
  padding-bottom: 1rem;
}

.pos-rel {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.max-width {
  max-width: 1500px;
  width: 100%;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.button_primary {
  background-color: $green;
  border-radius: 12px;
  padding: 8px 24px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
  position: relative;
  z-index: 100;

  &:hover {
      background-color: $violet;
      transform: scale(1.1);
  }
}

.button_secondary {
  background-color: $violet;
  border-radius: 12px;
  padding: 8px 24px;
  cursor: pointer;
  transition: background-color ease-in-out 200ms;
  text-decoration: none;

  &:hover {
      background-color: $green;
  }
}

.button_third {
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid $green;
  padding: 8px 24px;
  cursor: pointer;
  transition: background-color ease-in-out 200ms;
  text-decoration: none;

  &:hover {
      background-color: $green;
  }
}

h2 {
  font-family: 'Poppins';
  font-weight: bold;
}

.font90 {
  font-size: var(--font-90);
  line-height: var(--line-90);
}

.font64 {
  font-size: var(--font-64);
  line-height: var(--line-64);
}

.font58 {
  font-size: var(--font-58);
  line-height: var(--line-58);
}

.font32 {
  font-size: var(--font-32);
  line-height: var(--line-32);
}

.font23 {
  font-size: var(--font-23);
  line-height: var(--line-23);
}

.font16 {
  font-size: var(--font-16);
  line-height: var(--line-16);
}

.font14 {
  font-size: var(--font-14);
  line-height: var(--line-14);
}

.weight400 {
  font-weight: 400;
}

.color-green {
  color: $green!important;
}

.color-purple {
  color: $purple!important;
}

.logo {
  width: auto;
  height: auto;
  cursor: pointer;
}

.main-content {
  @include d-flex();
  flex-direction: column;
  border-radius: 3.125rem;
  margin-block: 3rem!important;
}

.section-wrap {
  @include d-flex($jc: start, $ai: center);
  width:100%;
}

.d-flex {
  @include d-flex();
}

.d-flex-x-end {
  @include d-flex($jc: end);
}

@media (min-width:1900px) {
  body {
    @include d-flex();
  }
}

@media (min-width: 1500px) {
  .main-content {
      border: 1px solid rgba(255,255,255,0.2);
  }
}

@media (max-width: 1500px) {
  .main-content {
      margin-block: 0!important;
  }
}


@media (max-width:1200px) {
  body {
    display: block;
  }
}

@media (max-width:991px) {
  :root {
    --sitePadding: 3rem;
    --sectionPadding: 3rem;

    --font-90: 4.625rem;
    --line-90: 4.925rem;
    --font-64: 3rem;
    --line-64: 3.3rem;
    --font-58: 2.625rem;
    --line-58: 2.925rem;
  }
}

@media(max-width: 650px) {
  :root {
    --vectorResidue: -43rem;
  }
}

@media (max-width:768px) {
  :root {
    --sitePadding: 2rem;

    --font-90: 3.625rem;
    --line-90: 3.925rem;
    --font-64: 2.3rem;
    --line-64: 2.6rem;
    --font-58: 1.625rem;
    --line-58: 1.925rem;


    --font-23: 1rem;
    --line-23: 1.3rem;
  }
  
}

@media (max-width:480px) {
  :root {
    --sitePadding: 1rem;

    --font-90: 2.125rem;
    --line-90: 2.425rem;
    --font-64: 1.8rem;
    --line-64: 2.1rem;
    --font-58: 1.5rem;
    --line-58: 1.8rem;
  }

  :root {
    --vectorResidue: -47rem;
  }
}

/* scrollbar */
  /* width */
	::-webkit-scrollbar {
  	width: 0.5rem;
	}

	/* Track */
	::-webkit-scrollbar-track {
  	background: #141D2F;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, $purple 25%, $green 100%);
    border-radius: 0.5rem;
	}


/* fonts */
/* poppins-100 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/poppins-v21-latin-100.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-100italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  src: url('./assets/fonts/poppins-v21-latin-100italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-200 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/fonts/poppins-v21-latin-200.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-200italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  src: url('./assets/fonts/poppins-v21-latin-200italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/poppins-v21-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-300italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url('./assets/fonts/poppins-v21-latin-300italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/poppins-v21-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/poppins-v21-latin-italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/poppins-v21-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url('./assets/fonts/poppins-v21-latin-500italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/poppins-v21-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url('./assets/fonts/poppins-v21-latin-600italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/poppins-v21-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('./assets/fonts/poppins-v21-latin-700italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/poppins-v21-latin-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-800italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url('./assets/fonts/poppins-v21-latin-800italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/poppins-v21-latin-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url('./assets/fonts/poppins-v21-latin-900italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}