@import './../../../styles.scss';

.order-2 {
    order: -1;
}

.gap2rem {
    gap: 2rem;
}

.atf-padding-top {
    padding-top: calc(var(--sectionPadding) + 1rem);
}

.atf-subtitle {
    color: $purple!important;
    font-size: 3.95rem;
    line-height: 4.25rem;
}

.img_wrap {
    height: 44.063rem;
    width: 40.375rem;
    overflow: hidden;

    img {
        @include pos-absolute(0,0,0,0);
        object-fit: contain;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.vektor1 {
    @include pos-absolute($left:-4rem, $top:0);
    width: 25rem;
    height: 38rem;

    svg {
        object-fit: contain
    }
}

.vektor2 {
    @include pos-absolute($right:-4rem, $top:0);
    width: 25rem;
    height: 38rem;

    svg {
        object-fit: contain;
    }
}

.text_wrap {
    flex-grow: 1;
}

.vektor3 {
    @include pos-absolute($right:0, $left:0, $bottom:0);
    z-index: 2;
    height: 18rem;
    width: 100%;
    .social-media_container {
        @include d-flex();
        gap: 2.625rem;
    }
}

.vektor3::before {
    @include pos-absolute($bottom:0, $left:0);
    background-color: rgb(20,29,47);
    content: '';
    height: 50%;
    width: 100%;
}

.main-title {
    @include d-flex();
    height: 70%;
    width: 100%;
    gap: 1.5rem;

    .title-frame {
        @include d-flex();
        white-space: nowrap;
        margin-left: -2rem;
        
        .i-am {
            transform: rotate(270deg);
        }
    }
}

.margin-left--7rem {
    margin-left: -7rem;
}

.bold {
    font-weight: bold;
}

.purple-font {
    color: $purple;
}

.social-media_container {
    @include d-flex($jc: start);
    gap: 32px;
    padding-bottom: 16px;

    .violett-stick {
        width: 120px;
        height: 3px;
        background-color: $purple;
    }
}

.sm-wrap {
    @include d-flex($jc: space-between);
    gap: 2.5rem;
    position: absolute;
    bottom: 3rem;
    left: var(--sitePadding);
    z-index: 2;
}

.sm-icon-wrap {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: white;

    svg {
        transition: transform ease-in-out 200ms, color ease-in-out 200ms;
        color: currentColor;

        g {
            color: currentColor;
        } 
    }

    &:hover {
        color: $green;

        svg {
            transform: scale(1.1);
        }
    }
}

.z-index-99 {
    z-index: 1000;    
}

@media (max-width:991px) {
    .title-frame {
        gap: 1rem;
    }

    .atf-subtitle {
        font-size: 3.25rem;
        line-height: 3.55rem;
    }
}

@media (max-width:869px) {
    .atf-padding-top {
        padding-top: calc(var(--sectionPadding) + 2.5rem);
    }
}

@media (max-width:720px) {
    .sm-wrap {
        gap: 1.5rem;
    }
}

@media (max-width:768px) {
    .atf-subtitle {
        font-size: 2.55rem;
        line-height: 2.85rem;
    }
}

@media (max-width:480px) {
    .atf-subtitle {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
}